<%= content_tag('div', :class => "control-group #{ f.object.errors.has_key?(:name) ? 'error' : ''}") do %>
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
<% end %>
<%= content_tag('div', :class => "control-group #{ f.object.errors.has_key?(:xquery) ? 'error' : ''}") do %>
  <%= f.label :xquery, 'XQuery', :class => 'control-label' %>
  <%= content_tag('div', :class => 'controls') do %>
    <%= f.text_area :xquery, :class => 'span7', :rows => 5 %>
  <% end %>
<% end %>
