<div class="page-header">
  <h1>New service
    <small>Here you can create new services</small>
  </h1>
</div>

<ul class="nav nav-tabs">
  <li class="<%= @service.is_a?(Immediate) ? 'active' : '' %>"><%= link_to "Immediate", new_service_path(:type => 'immediate') %></li>
  <li class="<%= @service.is_a?(Broadcast) ? 'active' : '' %>"><%= link_to "Broadcast", new_service_path(:type => 'broadcast') %></li>
  <li class="<%= @service.is_a?(Event) ? 'active' : '' %>"><%= link_to "Event", new_service_path(:type => 'event') %></li>
  <li class="<%= @service.is_a?(Subscription) ? 'active' : '' %>"><%= link_to "Subscription", new_service_path(:type => 'subscription') %></li>
</ul>

<%= form_for @service, :as => :service, :url => services_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => 'services/form', :locals => { :f => f } %>
<% end %>
